<nav class="navbar navbar-expand-lg navbar-light bg-custom-gray-dark">
    <a href="#" class="navbar-brand">
        @* @* <small>
            <img src="/images/mpj-logo-final.png"  alt="">
        </small> *@ </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="https://mpjgroup.co/about-mpj/"> <span class="fa fa-info-circle">&nbsp;</span> درباره جهان آرا</a>
            <a class="nav-item nav-link" href="https://mpjgroup.co/ceo/"><span class="fa fa-phone">&nbsp;</span> تماس با ما</a>
          
            
        </div>
    </div>
</nav>


@* <div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
         <div class="navbar-header pull-right">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="/images/mpj-logo-final.png"  alt="">
                    </small>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <div class="navbar-account">
                <ul class="account-area">
                <li>
                            <a class="linkA" href="#" target="_blank"><span class="fa fa-info-circle">&nbsp;&nbsp;</span>درباره جهان آرا</a>
                   
                </li>
              
              
           
                </ul>
              
                  
                </div>
            </div>
           
          
        </div>
    </div>
</div> *@