<!--footer area start-->
<footer class="footer_widgets bg-footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
               <div class="col-6 text-align-right">
                    <span> تلفن واحد استخدام 02152419 </span><span>داخلی 3108 </span>
                </div>
                <div class="col-6 text-align-left">
                    طراحی وتوسعه توسط واحد فناوری و اطلاعات گروه صنایع جهان آرا
                </div>
            </div>
           

        </div>
    </div>
   
</footer>


<!--footer area end-->
