@model EmploymentDTO
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mpj.DataLayer.DTOs.EmploymentForm


@{
    var modelStep = new ModelStepDTO() { Step = 11 };
    var authentication = Model.Authentication;

}
@section styles
{

    <style>
        .tab-content > .tab-pane {
            display: block !important;
        }

        .table {
            text-align: center;
        }
    </style>
}

<partial name="_WizardStep" model="@modelStep" />

<div class="tab-pane" role="tabpanel" id="step11">
    <form role="form" asp-area="" asp-controller="Home" asp-action="EndStep" method="post" class="login-box">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-lightred">
                    <span class="widget-caption">
                        <h4 class="h5 mt10 text-danger ">  بارگزاری مدارک</h4>
                    </span>
                </div>
                <div class="widget-body">
                    @if (Model.Authentication != null)
                    {
                        <div class="widget flat radius-bordered">
                            <div class="widget-header bg-danger w-header">
                                <span class="widget-caption font-size-19">سامانه جذب و استخدام گروه صنایع جهان آرا</span>

                            </div>
                            <div class="widget-body bg-custom-gray">
                                <div id="registration-form">
                                    <div class="form-group titlePage2">
                                        <label asp-for="Authentication.NationCode"></label>
                                        <label>:<b>@authentication?.NationCode</b></label>
                                    </div>
                                    <div class="form-group titlePage2">
                                        <label asp-for="Authentication.Mobile"></label>
                                        <label>: <b>@authentication?.Mobile</b></label>
                                    </div>
                                    <div class="form-group">

                                        <div class="alert alert-success CenterItem font-size-19">
                                            <i class="fa-fw fa fa-check"></i>
                                            آپلود مدارک شمادر سامانه جهان آرا، با موفقیت انجام شد.
                                           کد رهگیری شما  :  <b> @Model.Authorization?.TrackingCode</b>
                                        </div>
                                      

                                    </div>
                                    <a type="submit" class="editMobile CenterItem font-size-19 p-top-24" asp-action="Index">بازگشت</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </form>


</div>

